
header .center {
    float: none;
    left: 50%;
    margin-left: -67px;
    position: absolute;
    top: 0;
}
header .left {
    float: none;
    margin-right: 67px;
    position: absolute;
    right: 50%;
    top: 0;
}
header .right {
    float: none;
    left: 50%;
    margin-left: 67px;
    position: absolute;
    top: 0;
}
